<%= render 'header/linkheader' %>
    <div class="container text">

        <%= notice %>
        <div class="d-flex w-100 justify-content-between">
        <h1 class="text-light">Lista de comida</h1>

            <a href="/lista.pdf" class="btn text-white m-3" target="_blank"><h1><i class="bi bi-printer-fill"></i></h1></a>
        </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="card text-white bg-dark m-3" style="max-width: 18rem; border-radius: 10%">
                        <div class="card-header">Cantidad</div>
                        <div class="card-body">

                          <h4 class=" text-center">Normal: <%=@normal%></h4>
                          <h4 class=" text-center">Pechuga asada: <%=@pechuga%></h4>
                          <h4 class=" text-center">Enchiladas: <%=@enchiladas%></h4>
                          <h4 class=" text-center">Sin crema: <%=@crema%></h4>
                          <h4 class=" text-center">Sin lechuga: <%=@lechuga%></h4>
                          <a href=" <%= new_formulario_path() %>" class="btn btn-primary m-3" >Agregar Comida</a>
                        </div>
                    </div>

                </div>

                <div class="list-group col-md-8">
                    <% @formularios.each do |p| %>
                        <div class="list-group-item bg-black text-white opacity-75 border border-white ms-1">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    <%= p.nombre %>
                                </h5>
                                <small>
                                    <%= p.fecha %>
                                </small>
                            </div>
                            <p class="mb-1">
                                <%= p.platillo %>
                            </p>
                            <a href="<%= edit_formulario_path(p) %>" class="btn btn-primary"><i
                                    class="bi bi-pencil-square"></i></a>
                            <%=link_to "" , formulario_path(p), method: "delete" ,
                                class: "btn btn-danger bi bi-trash3-fill" %>
                        </div>
                        <%end%>
                </div>

            </div>

    </div>
