<%= render 'header/linkheader' %>
<div class="container">


<div class="col-8 mx-auto">
<a href=" <%= lista_path() %>" class="btn btn-secondary" ><i class="bi bi-arrow-left-square"></i></a>
<h1 class="text-light d-flex justify-content-center">Registro de Empleado</h1>
<%= form_with model: @formulario do |form|%>
    <%=form.label  :platillo, class: "form-label text-light" %>
    <%= form.select :platillo, [['Normal', 'Normal'],['Pechuga asada', 'Pechuga asada'], ['Enchiladas', 'Enchiladas'],['Enchiladas Sin Crema', 'Enchiladas Sin Crema'], ['Enchiladas Sin Lechuga', 'Enchiladas Sin Lechuga']], {}, {class: "form-select"} %>
    <%=form.label :nombre, class: "form-label text-light" %>
    <%= form.select :nombre, options_for_select(@empleados.collect{ |u| [u.nombre, u.nombre] }), {}, {class: "form-control", id:"e6"} %>
    <%=form.label :fecha, class: "form-label text-light" %>
    <%=form.date_field  :fecha, class: "form-control ", :readonly => true, value: Date.today %>

    <%= form.submit :"Registrar", class: "btn btn-success mt-4" %>
<%end%>
</div>

</div>
