<%= render 'header/linkheader' %>
<div class="container">


<div class="col-8 mx-auto">
<a href=" <%= platillos_path() %>" class="btn btn-secondary" ><i class="bi bi-arrow-left-square"></i></a>
<h1 class="text-light d-flex justify-content-center">Registro</h1>
<%= form_with model: @platillo do |form|%>



<%=form.label  :comida, class: "form-label text-light" %>
<%=form.text_area :comida, class: "form-control" %>
<%=form.label :repartidor_1, class: "form-label text-light" %>
<%= form.select :repartidor_1, options_for_select(@empleados.collect{ |u| [u.nombre , u.nombre]  },@repa1 ), {}, {class: "form-control", id:"e4"} %>
<%=form.label :repartidor_2, class: "form-label text-light" %>
<%= form.select :repartidor_2, options_for_select(@empleados.collect{ |u| [u.nombre , u.nombre]  },@repa2 ), {}, {class: "form-control", id:"e5"} %>
<%=form.label :fecha, class: "form-label text-light" %>
<%=form.date_field  :fecha, class: "form-control "%>
<!--
<%=form.date_field  :Fecha, class: "form-control ", :readonly => true, value: Date.today %>
-->
<%= form.submit :"Registrar Proyecto", class: "btn btn-success mt-4" %>
<%end%>
</div>

</div>
