<!DOCTYPE html>
<html  lang="es">
  <head>
    <title>Menu Bioin</title>

    <%= favicon_link_tag '/images/logo.png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 <!--
 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.9/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <!--Datatable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <!--Datatable-->
    <!--Select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!--Select2-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Fond family-->
    <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
    <style> @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); </style>
    <!--Fond family-->
    <%# nieve %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/JQuery-Snowfall/1.7.4/snowfall.jquery.min.js'></script>
    <%# nieve %>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    $(document).ready(function() {
        $('#tablas').DataTable({
            "lengthMenu": [
                [10, 50, 75, -1],
                [10, 50, 75, "All"]
            ],

	          "bDestroy": true,

        });
    });
  </script>
  <script>

    $('#entradaL').select2({
      placeholder: "Selecciona tu Entrada",
      allowClear: true,
      width: '100%',
      dropdownParent: $('#staticBackdrop')
    }).val(null).trigger("change");
    $('#guisadoL').select2({
      placeholder: "Selecciona tu Guisado",
      allowClear: true,
      width: '100%',
      dropdownParent: $('#staticBackdrop')
    }).val(null).trigger("change");
    $('#guarnicionL').select2({
      placeholder: "Selecciona tu Guarnicion",
      allowClear: true,
      width: '100%',
      dropdownParent: $('#staticBackdrop')
    }).val(null).trigger("change");
    $('#nombreL').select2({
      placeholder: "Selecciona tu nombre",
      allowClear: true,
      width: '100%',
      dropdownParent: $('#staticBackdrop')
    }).val(null).trigger("change");
    $('#e2').select2({
      placeholder: "Selecciona tu nombre",
      allowClear: true,
      width: '100%',

    }).val(null).trigger("change");
    $('#e6').select2({
      placeholder: "Selecciona tu nombre",
      allowClear: true,
      width: '100%',

    }).val(null).trigger("change");
    $('#e3').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
    $('#e4').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
    $('#e5').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
    $('#e6').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
  </script>
  <script>
     $(document).ready(function () {

     $("#lunes").click(function () {
    var platillo =$(this).data('fecha')

    $("#platillo").val(platillo)

    })

   $("#martes").click(function () {
    var platillo =$(this).data('fecha')

    $("#platillo").val(platillo)

    })

   $("#miercoles").click(function () {
    var platillo =$(this).data('fecha')

    $("#platillo").val(platillo)

    })

    $("#jueves").click(function () {
    var platillo =$(this).data('fecha')

    $("#platillo").val(platillo)

    })

    $("#viernes").click(function () {
    var platillo =$(this).data('fecha')

    $("#platillo").val(platillo)

    })

    $("#lol5").click(function () {
    var platillo =$(this).data('comida')

    $("#platillo").val(platillo)

    })

    })
  </script>
  <script>
    $('input#filtersearch').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.pl1').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.pl1').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };

  </script>
  <script>
    $('input#filtersearch2').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.pl2').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch2').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.pl2').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>
  <script>
    $('input#filtersearch3').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.lista').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch3').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.lista').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>

 <%#
 NIEVE
   <script>
       var nieve = {
       	flakeCount : $( window ).width()/ 10,
       	minSpeed: 1,
       	maxSpeed : 4,
       	maxSize : 6,
       	round: true
       }

       $(document).snowfall(nieve);

       $(window).resize(function(){
           $(document).snowfall("clear");
       		$(document).snowfall(nieve);
       });
  </script>
 %>
</html>
