<!DOCTYPE html>
<html  lang="es">
  <head>
    <title>Menu Bioin</title>

    <%= favicon_link_tag '/images/logo.png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 <!--
 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.9/dist/sweetalert2.all.min.js"></script>

    <!--Select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!--Select2-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Fond family-->
    <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
    <style> @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); </style>
    <!--Fond family-->
    <%# nieve %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/JQuery-Snowfall/1.7.4/snowfall.jquery.min.js'></script>
    <%# nieve %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    $(document).ready(function() {
        $('#tablas').DataTable({
            "lengthMenu": [
                [10, 50, 75, -1],
                [10, 50, 75, "All"]
            ],

	          "bDestroy": true,

        });
    });
  </script>
  <script>
    $('#e1').select2({
      placeholder: "Selecciona tu nombre",
      allowClear: true,
      width: '100%',
      dropdownParent: $('#staticBackdrop')
    }).val(null).trigger("change");
    $('#e2').select2({
      placeholder: "Selecciona tu nombre",
      allowClear: true,
      width: '100%',

    }).val(null).trigger("change");
    $('#e6').select2({
      placeholder: "Selecciona tu nombre",
      allowClear: true,
      width: '100%',

    }).val(null).trigger("change");
    $('#e3').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
    $('#e4').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
    $('#e5').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
    $('#e6').select2({
      placeholder: "Selecciona tu nombre",

      width: '100%',

    })
  </script>
  <script>
     $(document).ready(function () {

     $("#lol").click(function () {
    var platillo =$(this).data('comida')

    $("#platillo").val(platillo)

    })

   $("#lol1").click(function () {
    var platillo =$(this).data('comida')

    $("#platillo").val(platillo)

    })

   $("#lol2").click(function () {
    var platillo =$(this).data('comida')

    $("#platillo").val(platillo)

    })

    $("#lol3").click(function () {
    var platillo =$(this).data('comida')

    $("#platillo").val(platillo)

    })

    $("#lol4").click(function () {
    var platillo =$(this).data('comida')

    $("#platillo").val(platillo)

    })

    $("#lol5").click(function () {
    var platillo =$(this).data('comida')

    $("#platillo").val(platillo)

    })

    })
  </script>
  <script>
    $('input#filtersearch').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.pl1').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.pl1').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };

  </script>
  <script>
    $('input#filtersearch2').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.pl2').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch2').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.pl2').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>
  <script>
    $('input#filtersearchLunes').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.lista').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch3').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.lista').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>
  <script>
    $('input#filtersearchMartes').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.lista').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch3').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.lista').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>
    <script>
    $('input#filtersearchMiercoles').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.lista').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch3').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.lista').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>
    <script>
    $('input#filtersearchJueves').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.lista').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch3').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.lista').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>
    <script>
    $('input#filtersearchViernes').bind('keyup change', function() {
        if ($(this).val().trim().length !== 0) {

            $('.lista').show().hide().each(function() {
                if ($(this).is(':icontains(' + $('input#filtersearch3').val() + ')'))
                    $(this).show();
            });
        } else {
            $('.lista').show().each(function() {
                $(this).show();
            });
        }
    });

    $.expr[':'].icontains = function(obj, index, meta, stack) {
        return (obj.textContent || obj.innerText || jQuery(obj).text() || '').toLowerCase().indexOf(meta[3].toLowerCase()) >= 0;
    };
  </script>

 <%#
 NIEVE
   <script>
       var nieve = {
       	flakeCount : $( window ).width()/ 10,
       	minSpeed: 1,
       	maxSpeed : 4,
       	maxSize : 6,
       	round: true
       }

       $(document).snowfall(nieve);

       $(window).resize(function(){
           $(document).snowfall("clear");
       		$(document).snowfall(nieve);
       });
  </script>
 %>
</html>
